<div class="center hero-unit">
<center><h1>Success Stories</h1></center>
<br /><br />

<div class="micro">
<%= image_tag("Robinah-Nabwire.jpg", :align => 'left') %>
<h3>Micro-Credit</h3>

<p><b>Jane Namwenge</b> tried to open a vegetable stand numerous times but always faced several challenges. Most importantly, she was never able to obtain the necessary capital to begin a small business. After finding out about the EAMP - New Hope Micro-Credit Program, she decided to take advantage of the opportunity for a loan. Jane finally had the capital that she needed to begin her business, and she opened her vegetable stand in the Busia market. She sells potatoes, tomatoes, and onions to local customers and reports that her life has improved greatly now that she is able to operate her own business and generate income.</p>
<br />
 

<%= image_tag("kate-ajambo.jpg", :align => 'right') %>

<p>About 10 years ago, <b>Kate Ajambo</b> suffered a tragedy – she lost her husband. She was left alone with young children, and her living situation further deteriorated when her relatives began to take her possessions. She decided to leave her village and come to Busia. For many years, Kate performed small jobs for other people so that she could make just enough to feed her children each day. One of her clients loaned her a sweater-making machine, but unfortunately, it did not operate correctly. Kate managed to repair the machine, but she lacked the necessary capital to move forward with her business. With a loan from the EAMP - New Hope Micro-Credit Program, she was able to buy a large amount of thread. Kate can now make several sweaters at a time and generate a high income for her family. Because of her success, she feels empowered to continue with her work and further expand her sweater-making business.</p>
<br />
 

 

<%= image_tag("selling-tomatos.jpg", :align => 'left') %>

<p><b>Aubu Nandaula's</b> husband is a boda boda driver. Before Aubu received a business loan, she and her family were completely dependent on her husband, whose income was not steady. To ensure that she could take care of her family, Aubu decided to open a vegetable stand, but she did not have enough capital to begin her business. She discovered the EAMP - New Hope Microcredit program and was able to start working. Aubu now operates a small business, in which she sells charcoal and tomatoes. Due to her new income, she is able to buy food and other essential goods each day. Aubu feels happy and relieved that she and her family no longer have to solely depend on her husband's income for their daily needs.</p>
<br />
 
<%= image_tag("more microcredit.jpg", :align => 'right') %>
<p>Before receiving a business loan, <b>Grace Kwagala</b> worried each day about how she would feed and clothe her five children. Her husband abandoned her and the children, and Grace had no income with which to take care of her family. Because her husband had been the provider for the family, his absence left Grace with no business or money with which she could begin a business. Her living situation finally improved when she took advantage of the EAMP - New Hope Microcredit Program. After receiving a loan, Grace was able to buy charcoal and tomatoes, which she now sells in local markets. She even transports the charcoal on her head across the border to sell it to customers in Kenya. Because she now earns a steady income, Grace is able to take care of herself, and most importantly, she is able to feed and clothe her five children.</p>
</div>
</div>

<div class="center hero-unit">
<h3>Electricity</h3>

<p>Yea!! Through your generous support we were recently able to bring electricity to New Hope Orphanage in Busia Uganda. This will be a tremendous help as the children are now able to study past dark. Hopefully in the future we will be able to get a computer set up to start teaching the children computer skills. with the addition of lights this will also add much needed security to the orphanage.</P>
</div>
 

 


<div class="center hero-unit">
	<div class="beds">
	<%= image_tag("beds.jpg", :align => 'left') %>
<h3>New Beds</h3>

<p>Yea!! Through your support we were able to supply new beds for all the Orphans. This was another huge need at the orphanage. The beds they were using before were of old and rotted wood, which frequently broke causing injury to the children. As you can see from the pictures below we now have sturdy metal beds that the children can sleep on.</p><br /><br /><br />
</div>
</div>